*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header-container{
    min-width: 100%;
    margin-bottom: 100px;
}
.header-bg-container{
    text-align: center;
    background-color: rgb(250, 175, 148);
    background-position: center 10%;
    background-image: linear-gradient(0,white, transparent);
    background-image: url("../img/botes_prod.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    
}
nav{
    height: 300px;
}
.nav-list{
    display: flex;
    background-image: linear-gradient(rgb(250, 175, 148),transparent);
    font-size: 0.8em;
    text-transform:uppercase;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width: 700px) {
    .nav-list{
      flex-direction: column-reverse;
      font-size: 1em;
    }
    .empty-li{
        display: none;
    }
    .logo-li{
        order: 1;
        padding-bottom: 20px;
    }
    li{
        padding: 10px;
    }
    .personalizar-boton-wrapper{
        vertical-align: -10px;
    }

  }
.logo-wrap{
    max-width: 220px;
    overflow: hidden;
}

 .empty-li{
    min-width: 8vw;
}
.logo-img{
    margin-left: -35px;
    max-height: 80px;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(91, 86, 84);
}
.personalizar-boton{
    text-transform: uppercase;
    box-shadow: -6px 6px rgb(91, 86, 84);
    background-color: white;
    padding: 10px;
    color: rgb(248, 143, 105);
    border-radius: 3px;
    border: rgb(91, 86, 84) solid 1px;
}
.personalizar-boton:hover{
    background-color: rgb(250, 175, 148);
    color: white;
    transition-duration: 0.3s;
    
}
.personalizar-boton:active{
    position: relative;
    left: -2px;
    bottom: -2px;
    box-shadow: -2px 2px rgb(91, 86, 84);
    transition-duration: 0.1s;
}

.featured-prods-section{
    display: flex;
    flex-flow: column;
    text-align: center;
}
.featured-title{
    color: rgb(91, 86, 84);
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
}
.featured-desc{
    color: rgb(91, 86, 84);
    text-transform: lowercase;
    font-weight: lighter;
    margin: 20px auto;
    font-size: 1.2em;
}
.featured-img-wrap{
    max-height: 300px;
    max-width: 300px;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
 }
 
.featured-img{
    max-width: 100%;
}
.featured-section-text{
    margin-bottom: 70px;
}
.featured-prod-title{
    color: rgb(91, 86, 84);
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1.1em;
}
.featured-prod-desc{
    color: rgb(91, 86, 84);
    text-transform: lowercase;
    font-weight: lighter;
    margin: 20px auto;
    font-size: 1.1em;
}
.order-link{
    text-transform: uppercase;
    font-weight: revert;
    display: inline-block;
    padding: 8px;
    background-color: rgb(248, 143, 105);
    color: white;
    border-radius: 3px;
}
.order-link:hover{
    background-color: white;
    color: rgb(248, 143, 105);
    border: rgb(248, 143, 105) solid 1px;
    transition-duration: 0.3s;
}
@media screen and (max-width: 700px) {
    .products-container{
        max-width: 75%;
        margin: auto;
    }
}
.social-media-section{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around ;
    padding: 20px;
    background-color:rgb(248, 143, 105);
}
.post-wrapper{
    max-width: 25%;
}